.page-heading {
  width: 100%;
  margin: 0;

  background-image: url("../../assets/images/image2.png");
  height: 20vh;
  background-size: cover; /* Scale the image to cover the whole area */
  background-position: center center; /* Position the image at the center */

}
.overlay{

  background-color: var(--overlay);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-heading h1 {
  color:var(--primary-color);
  letter-spacing: 20px;
  font-size: 4rem;
  margin:0;
  padding: 0;
  vertical-align: middle;

}

